 *{
            font-family: Georgia;
            
        }
        p {
            color: rgb(149, 43, 170);
            font-family: cursive;
        }
        .p1{
            color: red;
            text-align: center;
            font-family: Verdana;
        }
        #p2{
            font-weight:bold;
        }
        footer p{
            font-size: x-small;
            color: darkblue;
        }